.whybtc{
    grid-row: 5 / 6;
    grid-column: full-start / full-end;

    display: grid;
    justify-items: center;
    align-items: center; 

    margin: 10vh 23vw 0vh 23vw;
    @include respond(tab-port){
        margin: 10vh 10vw 0vw 10vw;
    }

    &--head{
        font-size: 3rem;
    }
    &--para{
        margin-top: 1.8rem;
        align-self: center;
        // margin-top: 8vh;
        font-size: 1.7rem;
        color:  #424949;
        text-align: center;

        @include respond(tab-port){
            font-size: 2rem;
        }
    }
}